body {
		background: #666;
		overflow: hidden;
}

.container {
  position: relative;
  top: 0;
  left: 0;
	margin: auto;
	height: 100%;
}

#image-forward {
		-webkit-animation: image-forward 4s infinite linear;
		position:absolute;
		margin: auto;
		opacity: 0.5;
		z-index: 1;
}

@-webkit-keyframes image-forward {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

#image-reverse {
		-webkit-animation: image-reverse 4s infinite linear;
		position:absolute;
		margin: auto;
		opacity: 0.5;
		z-index: 0;
}

@-webkit-keyframes image-reverse {
		from {
				-webkit-transform: rotate(359deg);
		}
		to {
				-webkit-transform: rotate(0deg);
		}
}
